@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap" rel="stylesheet>');

* {
    font-family: 'Mulish', sans-serif;
}


/* navbar styles */

.nav-section {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.mobile-icon {
    display: none;
}


.title {
    padding-left: 210px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

#bars {
    display: none;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 80px;

}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

.home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.travels {
    color: #FF5400;
}

/* banner section */


.banner {
    text-align: center;
    padding-top: 105px;
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 180px;
    margin-right: 140px;
    border-radius: 26px;
    margin-bottom: 100px;

}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 200px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 50px;
}

.info {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 250px;
    border: none;
    margin-right: 25px;
}

.find {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 58px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.w {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
}

/* main styles */

/* Our popular tours */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.popular-tours-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.deals-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;
}


.frame {
    padding-left: 20px;
}

.deals-and-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.deals-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
}

.details-badge {
    width: 579px;
    height: 340px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    bottom: 450px;
    left: 740px;
}

.book {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-left: 20px;
}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.tour-content {
    padding-right: 250px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.read {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-top: 20px;
}

/* choose your destination section */

.destination {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}


.destination-img {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    margin-left: 180px;
}

.destination-img-3 {
    display: flex;
    gap: 10px;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    margin-left: 180px;
}

/* why choose us */

.choose-us-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-us-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.choose-us-card-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.choose-us-card-container .card {
    width: 573px;
    height: 284px;
}


.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.card-1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 30px;
    padding-top: 30px;
}

.card-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-left: 30px;
    padding-top: 30px;
}

.card-3 {
    align-items: center;
    margin-left: 450px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 150px;
}

/* deals and discount section */

.deals-and-discount {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.deals-and-discount .deals-picture {
    gap: 0px;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 150px;
}

.deals-img-1 {
    margin-top: 100px;
    margin-left: 170px;
    margin-bottom: 20px;
}


.packages {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    border: none;
    margin-left: 650px;
    margin-bottom: 50px;
}

/* perfect place styles */

.place-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.perfect-content {
    margin-left: 10px;
}

.place-video-container {
    width: 610px;
    height: 424px;
    border-radius: 16px;

}

video {
    width: 100%;
    height: auto;
}

.perfect-place-container {
    display: flex;
    gap: 30px;

}

.perfect-place-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.see {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    border: none;
    margin-top: 20px;
    margin-bottom: 200px;
}

/* newsletter styles */

.newsletter-section {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.newsletter {
    margin-left: 70px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 550px;

}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 40px;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 45px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 200px;
}

.name {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 40px;
    padding-left: 20px;
    background: rgba(19, 19, 24, 0.05);
    border: none;

}

.email {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 40px;
    padding-left: 20px;
    border: none;

}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    width: 415px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    padding-bottom: 0px;
}

.newsletter-img {
    margin-top: 30px;
}

.discount-badge {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 200px;
    left: 340px;
}

.discount-badge p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
}

.discount-badge h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}


button:hover {
    background-color: #4586a0;
}

/* extra section */

.story-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.story-title:hover {
    color: #4586a0;
}

.story-heading {
    font-size: 24px;
    font-weight: 800;
}

.story-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.stories {
    gap: 10px;
}

.star {
    font-size: 40px;
}

.star:hover {
    color: gold;
}

/* extra section-2 */

.customer-review-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}


.review-form-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.review-form-container:hover {
    background-color: #acacb6;
}

h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: c;
}


.form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    border-radius: 8px;
    background: #FF5400;
    width: 215px;
    height: 35px;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    padding-bottom: 0px;
}



.footer {
    width: 1880px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 150px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

.social-img-container {
    padding-left: 850px;
    padding-bottom: 40px;
}

.footer .social-img-container {
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    width: 900px;
    margin-bottom: 40px;
}

.rights-reserved {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    padding-left: 850px;
}








/* responsive media query */

/* responsive media query for small devices */

@media screen and (max-width: 600px) {

    .nav-section {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    .nav-section,
    #bars {
        display: flex;
        justify-content: space-between;
    }


    .title {
        padding-left: 10px;
        font-size: 24px;
    }

    nav {
        display: none;
    }

    #bars {
        display: flex;
        justify-content: space-around;
    }

    .banner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .banner-title {
        font-size: 22px;
        font-weight: 800;
    }

    .info {
        display: block;
        padding-top: 5px;
    }

    .popular-tours-container {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .tour-content {
        padding-right: 20px;
    }

    .read {
        margin-bottom: 10px;
    }

    .tour-img-container {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .tour-img-container img {
        max-width: 100%;
        height: auto;
    }

    .destination {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .destination-description {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .destination-img,
    .destination-img-3 {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .destination-img img,
    .destination-img-3 img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .destination-img-3 {
        padding-bottom: 20px;
    }

    .choose-us-card-container {
        flex-direction: column;
        align-items: center;
    }


    .choose-us-card-container .card {
        width: calc(100% - 40px);
        margin-bottom: 0px;
    }

    .card-1,
    .card-2 {
        margin-left: 20px;
        width: 90%;
    }

    .card-3 {
        display: none;
    }


    .deals-img-1 {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        height: 500px;
    }

    .deals-picture {
        margin-top: 0;
        margin-bottom: 0;
    }

    .packages {
        display: none;
    }

    .details-badge {
        width: 100%;
        left: 0;
    }


    .perfect-place-container {
        flex-direction: column;
        align-items: center;
    }


    .place-video-container {
        margin-left: 0;
        width: 335px;
        height: 200px;
        border-radius: 16px;
    }


    video {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    .newsletter-section {
        flex-direction: column;
        align-items: center;
    }


    .newsletter,
    .newsletter-img {
        width: 100%;
        margin: 0;
    }


    .newsletter {
        margin-bottom: 20px;
    }


    .discount-badge p,
    .discount-badge h3 {
        padding: 10px;
    }


    .newsletter-form {
        padding-right: 20px;
        border: 10px;
        width: 375px;
    }


    .name,
    .email,
    .subscribe {
        width: 280px;
        height: 52px;
        border-radius: 8px;
        margin-left: 40px;
    }


    .newsletter-img {
        margin-top: 10px;
        width: 30%;
        height: 250px;
        border-radius: 16px;
        margin-right: 400px;
        margin-bottom: 130px;
    }


    .discount-badge {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 10px;
        bottom: 100;
        right: 40;
    }


    .discount-badge p,
    .discount-badge h3 {
        padding: 5px;
        font-size: 18px;
    }

    .extra-section {
        margin-top: 30px;
    }


    .footer {
        margin-top: 180px;
        width: 510px;
        height: 309px;
    }


    .footer-title {
        font-size: 20px;
        padding-top: 20px;
    }


    .footer-description {
        font-size: 12px;
        padding-bottom: 10px;
    }


    .social-img-container {
        padding-left: 0;
        text-align: center;
        padding-bottom: 20px;
    }


    .footer .social-img-container {
        padding: 0;
        border-bottom: none;
        width: 100%;
        margin-bottom: 20px;
    }


    .rights-reserved {
        padding-left: 0;
        text-align: center;
    }
}