@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap" rel="stylesheet>');

* {
    font-family: 'Mulish', sans-serif;
}


/* navbar styles */

.nav-section {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.mobile-icon {
    display: none;
}


.title {
    padding-left: 210px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 80px;

}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

.home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.travels {
    color: #FF5400;
}

/* banner section */


.banner {
    text-align: center;
    padding-top: 105px;
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png'), url('/Images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 180px;
    margin-right: 140px;
    border-radius: 26px;
    margin-bottom: 100px;

}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 200px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 50px;
}

.info {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 250px;
    border: none;
    margin-right: 25px;
}

.find {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.w {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
}

/* main styles */

/* Our popular tours */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.popular-tours-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.tour-content {
    padding-right: 250px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.read {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-top: 20px;
}

/* choose your destination section */

.destination {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.destination-img {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    margin-left: 180px;
}

.destination-img-3 {
    display: flex;
    gap: 10px;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    margin-left: 180px;
}

/* why choose us */

.choose-us-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-us-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.choose-us-card-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.choose-us-card-container .card {
    width: 573px;
    height: 284px;
}


.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.card-1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 30px;
    padding-top: 30px;
}

.card-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-left: 30px;
    padding-top: 30px;
}

.card-3 {
    align-items: center;
    margin-left: 450px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 100px;
}

/* deals and discount section */

.deals-and-discount {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 80px;
}

.deals-img-1{
    margin-left: 170px;
    margin-bottom: 20px;
}
.deals-img-2{
    margin-left: 170px;
    margin-bottom: 20px;
}
.deals-img-3{
    margin-left: 170px;
    margin-bottom: 20px;
}














/* responsive media query */

@media screen and (max-width: 600px) {

    .nav-section {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 5px;
        justify-content: space-between;



    }

    nav>ul {}

    .title {
        padding-left: 10px;
        color: #131318;
        font-size: 16px;
        font-weight: 800;
    }

    banner {
        flex-direction: column;
    }
}